name: Deploy Spring Boot App to EC2

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: "ghcr.io/team-maple/mls-be/mapleland-api"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore FCM key file
        run: |
          mkdir -p src/main/resources/firebase
          echo '${{ secrets.FIREBASE_KEY }}' > src/main/resources/firebase/maple-9f1a7-firebase-adminsdk-fbsvc-7c3b6fc032.json

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image with Paketo buildpacks
        run: ./gradlew bootBuildImage --imageName "${{ env.IMAGE_NAME }}:latest"

      - name: Push image
        run: docker push "${{ env.IMAGE_NAME }}:latest"

      - name: Deploy on EC2 instance
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            set -e
            IMAGE="${{ env.IMAGE_NAME }}:latest"
            CONTAINER_NAME="mapleland-api"

            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

            docker pull "$IMAGE"

            docker ps -f name=$CONTAINER_NAME -q | xargs --no-run-if-empty docker container stop
            docker ps -a -f name=$CONTAINER_NAME -q | xargs --no-run-if-empty docker container rm
            docker run -d --name "$CONTAINER_NAME" --restart always --env-file ~/.env -p 8080:8080 "$IMAGE"

            docker image prune -f

            docker logout ghcr.io
